
{% extends 'layout.html' %}
{% load static %}
{% block styles %}

    <link rel="stylesheet" href="{% static './css/products/basicos.css' %}">
    <link rel="stylesheet" href="{% static './css/products/tarjetas.css' %}">
    <link rel="stylesheet" href="{% static './css/products/grilla.css' %}">
    {% endblock styles %}


{% block content_container %}hero-products{% endblock %}
{% block content %}

{% if messages%} <!--Esto recibe mensajes flash-->
    {% for message in messages %} 
        <div class="message">
            {{message}} 
        </div>    
    {% endfor %}

{% endif %}

<h2 class="titleProducts">Category: {{category.name}}</h2>
<div class="contentProducts">

    {% comment "creo que era una prueba" %}
    
        {% for category in categories %} <!--Recibiendo categorias del Cprocessor-->
        <h2>{{category.1}}</h2>
        {% endfor %}
        
        {% include 'expositor-productos.html' %}
    {% endcomment %}
    
    {% include 'expositor-productos.html' %}
   
</div>


{% endblock content %}

{% block script %}
<script defer src="{% static './scripts/friconix.js' %}"> </script>
{% endblock script %}