{% load static %}

<div class="containercenter">
    {% for articulo in articulos %}
    <a class="link-products" href="{% url 'products_detailed' articulo.slug %}">
        <div class="producto">
            {% if articulo.image_product.url|length >= 1 and  articulo.image_product != 'null' %}
                <img src="{{articulo.image_product.url}}" alt="{{articulo.name_products}}">
            {% else %}
                <img src="{% static './images/auriculares.png' %}" alt="{{articulo.name_products}}">
            {% endif %}

            <div class="informacion">
                <span class="tipo-envio">
                    {% if articulo.shipping_type %}
                        Envio Disponible
                    {% else %}
                        Envio No Disponible
                    {% endif %}</span>
                <span class="precio">$ {{articulo.product_price}}</span>
                <span class="precio-envio">
                    {% if articulo.shipping_price %}
                        Envio Gratis
                    {% else %}
                        Envio con Costo
                    {% endif %}
                </span>
                <span class="descripcion">{{articulo.name_products}}</span>
                <div class="calificacion">
                    <span><i class="fi-xnsuxl-star-solid"></i><i class="fi-xnsuxl-star-solid"></i><i class="fi-xnsuxl-star-solid"></i><i class="fi-xnsuxl-star-solid"></i><i class="fi-xnsuxl-star-solid"></i></span>
                    <span>1919</span>
                </div>
                <span class="ubicacion">{{articulo.product_city}}</span>
            </div>
        </div>
    </a>
    {% endfor %}
</div>