{% extends 'layout.html' %}
{% load static %}
{% block styles %}
 <link type="text/css" href="{% static 'css/hero.css' %}" rel="stylesheet">
{% endblock styles %}




{% block content %}
<div class="heroConteiner">


    <div class="heroText">

        <h2 class="titleHero">Vr is now
            available for you</h2>
            <a href="#moreSoldsection"><button class="buttonHero">More +</button></a>

    </div>


</div>
<div class="conteinerDown">
    <a href="#buttonMoreSold"><img class="downButton" src="{% static 'images/icons8-slide-up-100.png' %}" alt="button"></a>
</div>
{% endblock content %}
{% block content2 %}
<section class="oculus2" id="moreSoldsection">
    <h2 class="title" id="buttonMoreSold" >More Sold</h2>
    <div class="quest2Conteiner">
        <div class="imgQuest2">

            <img src="{% static 'images/dfqs58t-d6278ef5-a9ac-4db7-bed9-94d1417903f2.png' %}" alt="oculus quest2">
        </div>
        <div class="textoculus2">
            <h3>The new model <span class="colorRose">Oculus Quest 2</span>!!</h3>
            <p> The new model <span class="colorRose">Oculus Quest 2</span> is the best experience if you talk about
                immersion<br /><br />"An improved version of the original Oculus Quest with many upgrades and at a
                price you can't afford to miss."</p>
        </div>
    </div>
</section>
<section class="moreSold">
    <h3 class="title">More Sold Products</h3>
    <div class="contentProducts">
        <div class="containerVr hover--black">
            <h4 class="titlequest">Oculus Rift</h4>
            <p>Top VR gaming library: Blast, slash and soar your way through the top library in VR gaming. Oculus Rift S lets you play hundreds of games and exclusives already available in the Oculus store, with so much more to come.</p>
            <a href="http://127.0.0.1:8000/formulario/oculus-rift-s-pc-powered-vr-gaming-headset"><button class="buttonHero button--black">More</button></a>
        </div>
        <div class="containerVr hover--black">
            <h4 class="titlequest">Oculus Quest 2</h4>
            <p>Experience total immersion with 3D positional audio, hand tracking, and haptic feedback, working together to make virtual worlds feel real.</p>
            <a href="http://127.0.0.1:8000/formulario/meta-quest-2-advanced-all-in-one-virtual-reality-headset-128-gb"><button class="buttonHero button--black">More</button></a>
        </div>
        <div class="containerVr hover--black">
            <h4 class="titlequest ">Htc vive Pro 2</h4>
            <p>Visualize in 5K clarity-bring out the finer details with combined 4896 x 2448 resolution. 5K resolution may be subject to processing compatibility.</p>
            <a href="http://127.0.0.1:8000/formulario/htc-vive-pro-2-headset-controller-2018"><button class="buttonHero button--black">More</button></a>
        </div>
    </div>
</section>

{% endblock content2 %}