{% extends 'layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/other.css' %}">
{% endblock styles %}


{% block content %}
<section class="section-other">
    <div class="text-other">
        <h2>Privacy Policy</h2>
        <p>At VRFantasy, we value and respect your privacy. This privacy policy explains how we collect, use, protect, and disclose personal information we obtain through our website.
        </p>

        <h4>- Collection of Personal Information</h4>

        <p>When you visit our website, we may collect certain personal data such as your name, address, email address, and phone number. This information is collected when you register on our store, make a purchase, participate in surveys or promotions, or subscribe to our newsletter.</p>
        <h4>- Use of Personal Information</h4>
        <p>We use the personal information we collect to provide you with our products and services, process your orders, communicate with you about your account, and provide customer support. Additionally, we may use the information to personalize your shopping experience, send updates and promotions related to our products, and manage our internal business activities.</p>
        <h4>- Protection of Personal Information</h4>
        <p>We are committed to protecting the personal information you provide to us. We implement appropriate security measures to protect your data against unauthorized access, misuse, or disclosure.</p>
        <h4>- Disclosure of Personal Information to Third Parties</h4>
        <p>Occasionally, we may share your personal information with trusted third parties who assist us in operating our website, processing payments, delivering orders, and providing services to our customers. However, we will never sell, rent, or disclose your personal information to third parties for marketing purposes without your explicit consent.</p>
        <h4>- Your Rights</h4>
        <p>You have the right to access, correct, modify, or delete the personal information we have about you. If you wish to exercise any of these rights, please contact our customer support team.</p>
        <h4>- Changes to Our Privacy Policy</h4>
        <p>We reserve the right to update or modify our privacy policy at any time. Any changes to this policy will be posted on our website. We recommend reviewing this page periodically to stay informed about updates.</p>
        
    </div>
</section>

<section>
    <div>
        <div class="text-other">
            <h2>Manage Cookies</h2>
            <p>At VRFantasy, we value your privacy and strive to provide you with the best browsing experience on our website. In order to enhance your experience, we may utilize cookies and similar technologies. This page is designed to help you manage and understand how cookies are used on our site.</p>
            <h4>- What are cookies?</h4>
            <p>Cookies are small text files that are placed on your device when you visit a website. They are widely used to make websites work more efficiently, as well as to provide information to the website owners. Cookies enable us to remember your preferences, improve site performance, and deliver personalized content and advertisements.</p>
            <h4>- Types of cookies we use:</h4>
            <ol>
                <li>Essential Cookies: These cookies are necessary for the website to function properly. They enable basic features such as page navigation, security, and accessibility.

                  </li>
                  <li>
                    Analytical Cookies: We use analytical cookies to gather information about how visitorsinteract with our website. This helps us analyze website traffic, improve our services, and understand user preferences.
                </li>
                <li>Marketing Cookies: Marketing cookies are used to track visitors across websites. The information collected is used to display personalized advertisements that are relevant to your interests.</li>

            </ol>
            <h4>Managing your cookie preferences:</h4>
            <p>You have the option to accept or decline cookies when you visit our website. Most web browsers automatically accept cookies, but you can modify your browser settings to decline cookies if you prefer. Please note that disabling cookies may affect the functionality and performance of the website.</p>
            <p>To manage your cookie preferences, you can typically find the settings in your browser's "Options" or "Preferences" menu. You can also refer to the help section of your browser for more information on how to manage cookies.</p>
            <p>By using our website, you consent to the use of cookies as described in this Cookie Policy. If you have any questions or concerns about our use of cookies, please contact us.</p>
            <p>At VRFantasy, we are committed to protecting your privacy and ensuring a secure browsing experience. Thank you for choosing VRFantasy as your preferred destination for virtual reality products and accessories.</p>
        </div>
    </div>
</section>
<section id="community">
    <div>
        <div class="text-other"> 
            <h2>Community Links</h2>
            <h4><a href="https://discord.gg/R7WYScGCDc">Discord</a></h4>
            <h4><a href="https://www.reddit.com/r/VrFantasy/">Reddit</a></h4>
            <h4><a href="https://www.facebook.com/Vr-Fantasy-109104388896421">Facebook</a></h4>
        </div>
    </div>
</section>
{% endblock content %}