{% extends 'layout.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="{% static './css/products_detailed.css' %}">

{% endblock styles %}


{% block content_container %}hero-products-detailed{% endblock %}

{% block content %}
<div class="containerTop">
<div class="product-box">
    <div class="white-color">
        <div class="box-img">
            <div class="image-box">
                {% if articulos.image_product.url|length >= 1 and  articulos.image_product != 'null' %}
                    <img id="imageBox" src="{{articulos.image_product.url}}" alt="{{articulos.name_products}}">
                {% else %}
                    <img id="imageBox" src="{% static './images/auriculares.png' %}" alt="{{articulo.name_products}}">
                {% endif %}
            </div>
            <div class="container-small-img">
                <div class="small-img">
                    {% if articulos.min_image_one.url|length >= 1 and  articulos.min_image_one != 'null' %}
                        <img src="{{articulos.min_image_one.url}}" onclick="myFuction(this)">
                    {% else %}
                        <img src="{% static './../media/image_products/not-available.jpg' %}" onclick="myFuction(this)">
                    {% endif %}
                </div>
                <div class="small-img">
                    {% if articulos.min_image_two.url|length >= 1 and  articulos.min_image_two != 'null' %}
                        <img src="{{articulos.min_image_two.url}}" onclick="myFuction(this)">
                    {% else %}
                        <img src="{% static './../media/image_products/not-available.jpg' %}" onclick="myFuction(this)">
                    {% endif %}
                </div>
                <div class="small-img">
                    {% if articulos.image_product.url|length >= 1 and  articulos.image_product != 'null' %}
                        <img onclick="myFuction(this)" src="{{articulos.image_product.url}}" alt="{{articulos.name_products}}">
                    {% else %}
                        <img onclick="myFuction(this)" src="{% static './images/auriculares.png' %}" alt="{{articulo.name_products}}">
                    {% endif %}
                </div>

                
            </div>
        </div> 
    </div>
        <div class="white-color-two">
            <div class="text-box">
                <h4 class="tag-products"><a href="{%url 'index' %}">Home > </a> <a href="{%url 'products' %}">Products ></a>  <a href="#">{{articulos.name_products}}</a></h4>
                    <span class="span-categories">Etiquetas del Producto: </span>
                {% for articulo in  articulos.categories.all%} <!--for categories-->
                    <a href="{% url 'categories' articulo.name %}" class="categories">{{articulo}}</a>
                {% endfor %}
                
                <h2 class="title-product">{{articulos.name_products}}</h2>
                <h3 class="price">Precio: US${{articulos.product_price}}</h3>
                <div class="box one">
                    <span>{% if articulos.shipping_price %}
                            Envio con Costo
                            {% else %}
                            Envio Gratis
                        {% endif %}
                        </span>
                    <span>{% if articulos.shipping_price %}
                        Envio No Disponible
                        {% else %}
                        Envio Disponible
                    {% endif %}</span>
                    <span>{{articulos.product_city}}</span>
                </div>
                <div class="box two">
                    <span>Id Producto: {{articulos.id}}</span>
                    <span>Stock: True False</span> <!--AGREGAR CUANDO AGREGE IMAGEN-->

                </div>
                <div class="box-cards">
                <span class="cards-text">Tarjetas Aceptadas:</span>
                <img src="{% static 'images/tarjeas_sin.jpg' %}">
                </div>
                <button class="btn-buy">Comprar<span class="material-symbols-outlined">
                    add_shopping_cart
                    </span></button>
            </div>
        </div>
        <div class="text-box-two">
            <h2>Descripcion</h2>
            
            <div class="text-ckeditor">
                {{articulos.description_products|safe}}
            </div>

        </div>
</div>
</div>
{% endblock  %}

{% block script %}
<script type="text/javascript" defer src="{% static './scripts/products.js' %}" >

</script>
{% endblock script %}